<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1><%= name %></h1>
        <h1><%= address %></h1>
        <h1><%= district %></h1>
        <%- include('./partials/header.ejs', { name: 'Ti' }) %>
        <% arrPerson.forEach(person => { %>
            <%- include('./partials/row.ejs', { person }) %>
        <% }); %>
        <%- include('./partials/footer.ejs') %>
    </body>
    <script src="reload/reload.js"></script>
</html>